.DS_Store

# Byte-compiled / optimized files
__pycache__/
*.py[cod]

# IPython checkpoints
.ipynb_checkpoints/

# TensorFlow checkpoints and summaries.
/checkpoints/
/summaries/

# Figures are produced by paper_plots.ipynb
/figures/
