numpy==1.14.1
scipy==1.0.0
scikit-learn==0.19.1
matplotlib==2.2.0
svgutils==0.3.1

#tensorflow-gpu==1.6.0
tensorflow==1.6.0

healpy==1.11.0
#PyGSP==0.5.1
git+https://github.com/epfl-lts2/pygsp.git@ac7c5ec59d24eadf07c838b83334b816ac5bf040#egg=PyGSP
tqdm==4.19.6

notebook==5.4.0

# Dependencies

absl-py==0.1.11
astor==0.6.2
astropy==3.0
bleach==1.5.0
cycler==0.10.0
decorator==4.2.1
entrypoints==0.2.3
gast==0.2.0
grpcio==1.10.0
html5lib==0.9999999
ipykernel==4.8.2
ipython==6.2.1
ipython-genutils==0.2.0
jedi==0.11.1
Jinja2==2.10
jsonschema==2.6.0
jupyter-client==5.2.2
jupyter-core==4.4.0
kiwisolver==1.0.1
lxml==4.2.5
Markdown==2.6.11
MarkupSafe==1.0
mistune==0.8.3
nbconvert==5.3.1
nbformat==4.4.0
pandocfilters==1.4.2
parso==0.1.1
pexpect==4.4.0
pickleshare==0.7.4
prompt-toolkit==1.0.15
protobuf==3.5.2
ptyprocess==0.6.0
Pygments==2.2.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2018.3
PyYAML==5.1
pyzmq==17.0.0
Send2Trash==1.5.0
simplegeneric==0.8.1
six==1.11.0
tensorboard==1.6.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.3.1
tornado==5.0
traitlets==4.3.2
wcwidth==0.1.7
Werkzeug==0.14.1
